{
  "env": {
    "node": true,
    "es2021": true,
    "jest/globals": true
  },
  "plugins": ["jest"],
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ]
}
